
.home-list {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background: #f3f3f3;
  padding: 10px;
  li {
    margin: 0 20px;
    span {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100px;
        height: 60px;
      }
      i {
        display: inline-block;
        width: 100px;
        color: #464646;
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.home-goods-list {
    margin-top: 10px;
  .goods-list-big {
    float: left;
    display: inline-block;
    width: 345px;
    height: 405px;
    img {
      width: 340px;
      height: 405px;
    }
  }
  .goods-list-small {
    span {
      width: 200px;
      height: 200px;
      display: inline-block;
      margin: 1px;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
